<%- include("partials/header"); -%>
<div class="container-fluid cards">
  <div>
    <a href="/">
      <div class="card card__journal">
        <h3>Daily Journal</h3>
      </div>
    </a>
    <a href="/games">
      <div class="card card__games">
        <h3>Games</h3>
      </div>
    </a>
  </div>
  <div>
    <a href="/ecommerce">
      <div class="card card__ecommerce">
        <h3>E-Commerce</h3>
      </div>
    </a>
    <a href="/music">
      <div class="card card__music">
        <h3>Music</h3>
      </div>
    </a>
  </div>
</div>
<%- include("partials/footer"); -%>
